
<html lang="en">
<head>
    <style>
        .a{
            background-color:#DFCFBE;
            border:solid red;
            border-radius: 30px;
            margin-top:100px;
            padding: 20px;
            width:60%;
        }
       body {
    background-color: #eed9b6;

}
        .c{
        position: fixed;
        bottom:0;
        width:100%;
        }

    </style>
</head>
<body>
<center>
      <div class="a">
          <fieldset >
              <h2 style="color:blue">This is Medicine Related Project</h2>
      <label style="color:red">Mobile Number  :</label><label style="color:blue">8688462451</label> <br>
      <label style="color:red">Email   :</label><label style="color:blue">medicine@gmail.com</label>
          </fieldset>
      </div>
    <div class="c">

    </div>
</center>
</body>
</html>

